@import '../../scss/_animations.scss';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.super-slider{

    transition: all 0.2s linear;
    transform: rotate(-2deg) translate(-17px,-50px);
    width: calc(100vw + 51px);
    padding: 150px 0;
    overflow: hidden;

    .header{
        display: flex;
        margin-bottom: 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-family: Chewy,sans-serif;
        color: #25e8d8;
        font-size: 90px;
        line-height: 100px;
        text-align: center;
        letter-spacing: 1.27px;
        letter-spacing: 20px;
        text-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
        font-weight: 900;
    }

    &-content{
        display: flex;
        width: 100%;
        overflow: auto;
        transition: all 0.5s linear;
    }

    &-content-wrap{
        display: flex;
        transition: all .1s linear;
        will-change: transform;
        
        transform: translateY(0px) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    
        // &-reverse{
        //     flex-direction: row-reverse;
        // }
    }

    &-content::-webkit-scrollbar {
        display: none;
    }

    &-img{
        margin: 10px;
        border-radius: 10px;
        // height: 300px;
        width: 220px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        transition: all 0.5s ease-in-out;

        img{
            width: 100%;
            height: auto;
        }

        &:hover{
            cursor: pointer;
            // animation: skew-cart .5s;
            transform: scale(0.98);
        }
    }
}