@import '../../scss/animations';

.CommingSoonPage{
    height: 60vh;
    width: 100%;

    img{
        width: 40%;
        transition: all 0.5s ease-in-out;
        animation: comming-soon 2s linear infinite;
    }
}