.notfound{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #151515 url('../../../public/images/bg-news.png') no-repeat center center;
    background-size: 100% 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 300px;
    }

    &-title{
        font-size: 60px;
        font-weight: 800;
        color: #A01946;
        letter-spacing: 20px;
    }

    &-back{
        font-size: 24px;
        font-weight: 800;
        color: #A01946;
        letter-spacing: 4px;
        padding: 10px;
        border: 1px solid #A01946;
    }
}