.nft-cart{
    margin-top: 20px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title{
        font-size: 20px;
        font-weight: 600;
    }

    &-value{
        font-size: 50px;
        font-weight: 700;
    }

    &-img{
        width: 18%;
        max-width: 110px;
    }
}